<h1 class="text-center">My Cleanups</h1>
    <div class="container" *ngIf="user$ | async as user">
        <div class="card">
            <div class="card-image card-1">
              <img [src]=" user.Ocleanups?.photoURL ?? 'assets/bg-event.png'" width="269px" height="150px" alt="">
            </div>
                <h2>{{user.Ocleanups?.location}}</h2>
                <p>{{user.Ocleanups?.description}}</p>
                <p>People Enrolled:{{user.Ocleanups?.strength}}</p>
          </div>
      </div>

