<div class="navbar navbar-light bg-light justify-content-around" *ngIf="user$ | async as user">
    <img src="assets/logo-black.png" width="50" height="50" style="border-radius: 100%;">
    <div class="d-flex">
      <div class="form-outline">
        <input id="search-input" type="search" id="form1" class="form-control" placeholder="Search" />
      </div>
      <button id="search-button" type="button" class="btn btn-primary">
        <i class="bi bi-search"></i>
      </button>
    </div>
    <button class="btn btn-outline-dark" (click)="profile()"><img width="30" height="30" [src]="user.photoURL?? 'assets/default-userdp.jpg'" style="border-radius: 100%;" ></button>
</div>
