<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 250px;height: 700px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/home" class="nav-link">
          Feed
        </a>
      </li>
      <li>
        <a href="localhost:4200/home" class="nav-link text-black">
          New cleanup
        </a>
      </li>
      <li>
        <a href="localhost:4200/home" class="nav-link text-black">
          My cleanups
        </a>
      </li>
      <li>
        <a href="localhost:4200/home" class="nav-link text-black">
          Explore Cleanups
        </a>
      </li>
    </ul>
  </div>
