<h1>Explore Cleanups</h1>
    <section class="container">
        <div class="card">
            <div class="card-image card-1"></div>

                <h2>@ Mambalam</h2>
                <p>A group of 30 people cleaning the streets</p>
                <a href="">Join Now</a>
            
        </div>
        <div class="card">
            <div class="card-image">
                <img src="assets/bg-event.png" width="269px" height="150px" alt="">
            </div>

                <h2>Title</h2>
                <p>Text</p>
                <a href="">Join Now</a>
            
        </div>
    </section>

