*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.element{
  display: flex;
  flex-wrap: wrap;
}
.container{
    display:flex;
    flex-basis: 33.33%;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.card{
    background: aqua;
    width:270px;
    margin: 10px;
    margin-left: 50px;
    border-radius: 15px;
}
.card-image{
    background-color: rgb(189, 239, 115);
    height: 150px;
    margin-bottom: 30px;
    background-size: cover;
    border-radius: 15px;
}

.card h2{
    padding-left:10px;
    padding-top: 0%;
}
.card p{
    padding: 10px;
}
.card a{
    display: block;
    text-align: center;
    margin: 20px 50px;
    background-color: black;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}

.card:hover{
    background-color: rgb(89, 240, 147) ;
    color: rgb(27, 70, 33);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
h1{
    margin: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

